<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/lists", class: "navbar-brand" do %>
      <div><i class="fa-solid fa-film"></i></div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
         <li class="btn btn-primary"><%= link_to "Create New", new_list_path %></li>
      </ul>
    </div>
  </div>
</div>
