<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-film"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Create New", new_list_path, class: "btn btn-primary" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="display-4 font-weight-bold">My Watch Lists</h1>
    <p class="lead">Explore your curated movie lists</p>
  </div>
  <div class="row g-4">
    <% @lists.each do |list| %>
      <div class="col-md-6 col-lg-4">
        <div class="card-category card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          <div class="card-body d-flex flex-column justify-content-end">
            <h5 class="card-title text-center">
              <%= link_to list.name, list_path(list), class: 'stretched-link text-decoration-none text-white' %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
