.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-toggler {
  border: none;
}

.navbar-lewagon .btn-primary {
  margin-left: auto;
}
